html {
    background-color: white;
}
 
body {
  width: 850px;
  border: 2px solid black;
  padding: 0px 20px 20px 20px;
  
}

h1 {
	font-size: 40px;
	text-align: center;
	margin: 0;
	padding: 20px;
	color: #000000
  
}

h3{
   	font-size: 30px;
	margin: 0;
	padding: 40px;
	color: #000000
}

table {
	border: 1px solid black;
	background-color: #f1f1c1;
}

/* Defining styling for a specific element type - each question */
.question {
  background-color: transparent;
  color: black;
  margin: 20px;
  padding: 20px;
}



/* Defining styling for a specific element type - large block buttons */
.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #00BDD2;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

/* Defining styling for a specific element with an id */
#signature {
  text-align: center;
  color: Black;
  font-style: italic;
  font-size: 60%;
}